* {
  box-sizing: border-box;
}

.back-link {
  font-size: larger;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 24px;
  list-style: none;
  height: calc(3 * (200px + 24px));
  width: calc(3 * (360px + 24px));
}

.gallery-item {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.gallery-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item:hover {
  transform: scale(1.04);
}